<form action="/names" method="post">
  <div>
    <label for="Player 1">Player 1:</label>
    <input type="text" name="player_1">
    <label for="Player 2">Player 2:</label>
    <input type="text" name="player_2">
    <button type="submit" value="submit">Submit names</button>
  </div>
</form>
