<h1><%=$player_1.name %>  VS <%= $player_2.name %></h1>
<h3><%= $player_2.name %> hp:<%=$player_2.hp%>/100</h3>
<form action="/attack" method="post">
  <button type="submit" value="submit">Attack</button>
</form>
